$menu-col: #ffa726;

.ww_logo{
  border: 2px solid darken($menu-col,10);
  border-radius: 4px;
}

.brand-logo{
  text-align: left !important;
}

#bg {
  position: fixed; 
  top: -50%; 
  left: -50%; 
  width: 200%; 
  height: 200%;
}
#bg img {
  position: absolute; 
  top: 0; 
  left: 0; 
  right: 0; 
  bottom: 0; 
  margin: auto; 
  min-width: 50%;
  min-height: 50%;
}